body {
  background-color: rgb(32, 32, 36);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
  width: 265px;
  height: 40px;
}

/*Navigation Bar*/

header {
  width: 100%;
  height: 60px;
  border: 5px #fff;
  background-color: rgb(32, 32, 36);
  position: fixed;
  top: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  width: 100%;
  text-align: right;
}
nav ul li {
  display: inline-block;
  margin-inline: 2%;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
/*Divider*/
hr.solid {
  border-top: 2px solid #fff;
  border-radius: 5px;
}

.content {
  padding-top: 5em;
  margin-left: 20%;
  margin-right: 25%;
}

.head {
  list-style: none;
  color: white;
}
.head h1 {
  margin-top: px;
  font-size: 2.3em;
}
.head h2 {
  font-size: 1.5em;
  margin-bottom: -20px;
}
.article {
  height: 100%;
  word-wrap: break-word;
  color: darkgray;
  font-size: 1.3em;
}
.article video {
  padding-bottom: 1.3em;
  width: 100%;
}
.article li {
  padding-bottom: 1.3em;
  list-style: none;
}
