body {
  background-color: rgb(32, 32, 36);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
  width: 265px;
  height: 40px;
}

/*Navigation Bar*/

header {
  width: 100%;
  height: 60px;
  border: 5px #fff;
  background-color: rgb(32, 32, 36);
  position: fixed;
  top: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  width: 100%;
  text-align: right;
}
nav ul li {
  display: inline-block;
  margin-inline: 2%;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
/*Divider*/
hr.solid {
  border-top: 2px solid #fff;
  border-radius: 5px;
}

/*Contact Area*/

.container {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 11%;
  height: 36.8em;
  background-color: rgb(20, 20, 24);
  border-radius: 25px;
  border: solid;
  border-color: white;
  color: white;
}
.head h1 {
  text-align: center;
}
.container h3 {
  padding-top: 2%;
  margin-left: 10%;
}
.container textarea {
  width: 67%;
  margin-left: 15%;
  resize: none;
}
.container #Email {
  height: 15px;
}
.container #Grund {
  height: 15px;
}
.container #Inhalt {
  height: 180px;
}
.sendButton {
  width: 57px;
  margin-top: 4%;
  margin-left: 85%;
  border-radius: 10px;
  border-color: #fff;
  border: solid;
}
.sendButton div {
  font-size: larger;
  color: #fff;
  padding-left: 6.5px;
}
