body {
  background-color: rgb(32, 32, 36);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
  width: 265px;
  height: 40px;
}

/*Navigation Bar*/

header {
  width: 100%;
  height: 60px;
  border: 5px #fff;
  background-color: rgb(32, 32, 36);
  position: fixed;
  top: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  width: 100%;
  text-align: right;
}
nav ul li {
  display: inline-block;
  margin-inline: 2%;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
/*Divider*/
hr.solid {
  border-top: 2px solid #fff;
  border-radius: 5px;
}

.content {
  color: #fff;
  list-style: none;
}
.head {
  margin-left: 20%;
}
.container {
  margin-left: 25%;
  margin-right: 25%;
  word-wrap: break-word;
  color: #fff;
}
.pictures li {
  margin-top: 1em;
  margin-left: 5%;
}
.pictures li a {
  color: #fff;
  margin-left: 2%;
}
