body {
  background-color: rgb(32, 32, 36);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
  width: 265px;
  height: 40px;
}

/*Navigation Bar*/

header {
  width: 100%;
  height: 60px;
  border: 5px #fff;
  background-color: rgb(32, 32, 36);
  position: fixed;
  top: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  width: 100%;
  text-align: right;
}
nav ul li {
  display: inline-block;
  margin-inline: 2%;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
/*Divider*/
hr.solid {
  border-top: 2px solid #fff;
  border-radius: 5px;
}

/*Articles/ArticleList*/

.articleList {
  margin-top: 80px;
  margin-left: 25%;
  margin-right: 15%;
  width: 100%;
  padding: 40px 0;
  list-style: none;
}
.articleList img {
  height: 15em;
}
.articleList quelle {
  font-size: 12px;
  color: #fff;
}
/*Article 1*/
.articleList A1 TXT li {
  padding-bottom: 5%;
  width: 100%;
  text-align: Left;
}
.articleList A1 li a {
  color: white;
  text-decoration: none;
}
/*Article 2*/
.articleList A2 TXT li {
  padding-bottom: 5%;
  width: 100%;
  text-align: Left;
}
.articleList A2 li a {
  color: white;
  text-decoration: none;
}

/*Ads*/

.container {
  display: flex;
  list-style: none;
}
.container ad img {
  margin-top: 80px;
  padding: 40px 0px;
  padding-right: 10em;
  height: 615px;
}
