/*Desktop Site*/
@media only screen and (min-width: 600px) {
  body {
    background-color: rgb(32, 32, 36);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .logo {
    width: 265px;
    height: 40px;
  }

  /*Navigation Bar*/

  header {
    width: 100%;
    height: 60px;
    border: 5px #fff;
    background-color: rgb(32, 32, 36);
    position: fixed;
    top: 0;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
  }
  nav ul li {
    display: inline-block;
    margin-inline: 2%;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  /*Divider*/
  hr.solid {
    border-top: 2px solid #fff;
    border-radius: 5px;
  }

  /*Articles/ArticleList*/

  .articleList {
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 15%;
    width: 100%;
    padding: 40px 0;
    list-style: none;
  }
  .articleList img {
    height: 15em;
  }
  .articleList quelle {
    font-size: 12px;
    color: #fff;
  }
  /*Article 1*/
  .articleList A1 TXT li {
    padding-bottom: 5%;
    width: 100%;
    text-align: Left;
  }
  .articleList A1 li a {
    color: white;
    text-decoration: none;
  }
  /*Article 2*/
  .articleList A2 TXT li {
    padding-bottom: 5%;
    width: 100%;
    text-align: Left;
  }
  .articleList A2 li a {
    color: white;
    text-decoration: none;
  }

  /*Ads*/

  .container {
    display: flex;
    list-style: none;
  }
  .container ad img {
    margin-top: 80px;
    padding: 40px 0px;
    padding-right: 10em;
    height: 615px;
  }
}

/*Mobile Site*/
@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(32, 32, 36);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .logo {
    float: left;
    width: 25%;
    height: 25%;
  }

  /*Navigation Bar*/

  header {
    width: 96%;
    height: 46px;
    border: 5px #fff;
    background-color: rgb(32, 32, 36);
    position: fixed;
    top: 0;
  }
  nav {
    font-size: 90%;
  }
  nav ul {
    list-style: none;
    text-align: right;
  }
  nav ul li {
    display: inline-block;
    margin-inline: 2%;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  /*Divider*/
  hr.solid {
    border-top: 2px solid #fff;
    border-radius: 5px;
  }

  /*Articles/ArticleList*/

  .articleList {
    margin-top: 15%;
    margin-left: 15%;
    width: 79%;
    padding: 40px 0;
    list-style: none;
  }
  .articleList img {
    height: 10em;
  }
  .articleList quelle {
    font-size: 12px;
    color: #fff;
  }
  /*Article 1*/
  .articleList A1 TXT li {
    padding-bottom: 5%;
    width: 100%;
    text-align: Left;
    font-size: 13px;
  }
  .articleList A1 li a {
    color: white;
    text-decoration: none;
  }
}
