/*Desktop Site*/
@media only screen and (min-width: 600px) {
  body {
    background-color: rgb(32, 32, 36);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }

  .logo {
    width: 265px;
    height: 40px;
  }

  /*Navigation Bar*/

  header {
    width: 100%;
    height: 60px;
    border: 5px #fff;
    background-color: rgb(32, 32, 36);
    position: fixed;
    top: 0;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
  }
  nav ul li {
    display: inline-block;
    margin-inline: 2%;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  /*Divider*/
  hr.solid {
    border-top: 2px solid #fff;
    border-radius: 5px;
  }

  /*Articles/ArticleList*/

  .articleList {
    background-color: rgb(20, 20, 24);
    border-radius: 25px;
    border: solid;
    border-color: #fff;
    margin-top: 6em;
    margin-left: 35%;
    width: 490px;
    list-style: none;
  }
  .articleList #Date {
    color: #fff;
    font-size: xx-large;
    margin-top: 1em;
  }
  .articleList img {
    margin-top: 2em;
    height: 15em;
  }
  .articleList quelle {
    font-size: 12px;
    color: #fff;
  }
  /*Article 1*/
  .articleList TXT li {
    margin-bottom: 3em;
    width: 100%;
    text-align: Left;
  }
  .articleList li a {
    color: white;
    text-decoration: none;
  }
}

/*Mobile Site*/
@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(32, 32, 36);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }

  .logo {
    float: left;
    width: 25%;
    height: 25%;
  }

  /*Navigation Bar*/

  header {
    width: 96%;
    height: 46px;
    border: 5px #fff;
    background-color: rgb(32, 32, 36);
    position: fixed;
    top: 0;
  }
  nav {
    font-size: 90%;
  }
  nav ul {
    list-style: none;
    text-align: right;
  }
  nav ul li {
    display: inline-block;
    margin-inline: 2%;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  /*Divider*/
  hr.solid {
    border-top: 2px solid #fff;
    border-radius: 5px;
  }

  /*Articles/ArticleList*/

  .articleList {
    background-color: rgb(20, 20, 24);
    border-radius: 25px;
    border: solid;
    border-color: #fff;
    margin-top: 5em;
    list-style: none;
  }
  .articleList #Date {
    color: #fff;
    font-size: xx-large;
    margin-top: 1em;
  }
  .articleList img {
    margin-top: 2em;
    height: 10em;
  }
  .articleList quelle {
    font-size: 12px;
    color: #fff;
  }
  /*Article 1*/
  .articleList TXT li {
    margin-bottom: 3em;
    width: 100%;
    text-align: Left;
    font-size: 13px;
  }
  .articleList li a {
    color: white;
    text-decoration: none;
  }
  .articleList TXT li p {
    margin-right: 15%;
  }
}
