/*Desktop Site*/
@media only screen and (min-width: 600px) {
  body {
    background-color: rgb(32, 32, 36);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }

  .logo {
    width: 265px;
    height: 40px;
  }

  header {
    width: 100%;
    height: 60px;
    border: 5px #fff;
    background-color: rgb(32, 32, 36);
    position: fixed;
    top: 0;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
  }
  nav ul li {
    display: inline-block;
    margin-inline: 2%;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  hr.solid {
    border-top: 2px solid #fff;
    border-radius: 5px;
  }

  .content {
    padding-top: 5%;
    margin-left: 20%;
    margin-right: 25%;
  }

  .head {
    list-style: none;
    color: white;
  }
  .head h1 {
    margin-top: px;
    font-size: 2.3em;
  }
  .head h2 {
    font-size: 1.5em;
    margin-bottom: -20px;
  }
  .article {
    height: 100%;
    word-wrap: break-word;
    color: darkgray;
    font-size: 1.3em;
  }
  .article video {
    padding-bottom: 1.3em;
    width: 100%;
  }
  .article #FirstParagraph {
    margin-top: 1em;
  }
  .article li {
    padding-bottom: 1.3em;
    list-style: none;
  }
}

/*@media only screen and (min-width: 600px) {
  body {
    background-color: rgb(32, 32, 36);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .logo {
    width: 40%;
    height: 40%;
  }

  /*Navigation Bar

  header {
    width: 99%;
    height: 60px;
    border: 5px #fff;
    background-color: rgb(32, 32, 36);
    position: fixed;
    top: 0;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
  }
  nav ul li {
    display: inline-block;
    margin-inline: 2%;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  /*Divider
  hr.solid {
    border-top: 2px solid #fff;
    border-radius: 5px;
  }

  .content {
    margin-left: 20%;
    padding-top: 3em;
    margin-right: 10%;
  }

  .head {
    list-style: none;
    color: white;
  }
  .head h1 {
    font-size: 2.5em;
  }
  .head h2 {
    font-size: 1.5em;
    margin-bottom: -20px;
  }
  .article {
    height: 100%;
    word-wrap: break-word;
    color: darkgray;
    font-size: 0.9em;
  }
  .article video {
    margin-left: 10%;
    padding-bottom: 2em;
    width: 60%;
  }
  .article li {
    margin-right: 15%;
    font-size: 1.3em;
    padding-bottom: 1em;
    list-style: none;
  }
}*/

/*Mobile Site*/
@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(32, 32, 36);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }

  .logo {
    float: left;
    width: 25%;
    height: 25%;
  }

  /*Navigation Bar*/

  header {
    width: 96%;
    height: 46px;
    border: 5px #fff;
    background-color: rgb(32, 32, 36);
    position: fixed;
    top: 0;
  }
  nav {
    font-size: 90%;
  }
  nav ul {
    list-style: none;
    text-align: right;
  }
  nav ul li {
    display: inline-block;
    margin-inline: 2%;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  /*Divider*/
  hr.solid {
    border-top: 2px solid #fff;
    border-radius: 5px;
  }

  .content {
    padding-top: 3em;
    margin-right: 10%;
  }

  .head {
    list-style: none;
    color: white;
  }
  .head h1 {
    font-size: 1.5em;
  }
  .head h2 {
    font-size: 1em;
    margin-bottom: -4%;
  }
  .article {
    height: 100%;
    word-wrap: break-word;
    color: darkgray;
    font-size: 0.9em;
  }
  .article video {
    padding-bottom: 1.3em;
    width: 100%;
  }
  .article li {
    padding-bottom: 0.7em;
    list-style: none;
  }
}
